{% extends "base.html" %}
{% block title %}About Page{% endblock %}
{% block content %}

<!DOCTYPE html>
<head>
    <style>
        body {
            background-image: url('/static/bg.jpeg');
            background-repeat: no-repeat;
            background-size: cover;
            overflow-y: hidden; /* Hide vertical scrollbar */
            overflow-x: hidden; /* Hide horizontal scrollbar */
        }
    </style>

    <div class="container-fluid">
        <p></p>
        <h1 style="text-align:center; font-family: 'Calibri'; color: white; ">Analysis of Stock Price of Apple</h1>
        <p style="text-align:center; font-family: 'Calibri';font-size:30px; color: white;">This page was prepared by Group 10 as a part of BDAT1004 Data Programming Final Project</p>
        <p style="text-align:center; font-family: 'Calibri';font-size:30px; color: white;">Members of Group 10:</p>
        <p style="text-align:center; font-family: 'Calibri';font-size:30px; color: white;">Archit Sinha (Student ID : 200505416)</p>
        <p style="text-align:center; font-family: 'Calibri';font-size:30px; color: white;">Chintan Vajani (Student ID : 200508118)</p>
        <p style="text-align:center; font-family: 'Calibri';font-size:30px; color: white;">Ping Tsam Tsang (Student ID : 200504374)</p>
        <p style="text-align:center; font-family: 'Calibri';font-size:30px; color: white;">Gourav Bhardwaj (Student ID : 200507072)</p>
    </div>

      </head>


{% endblock %}
